<h3>Leave your Mark:</h3>

<%= form_for [@article, @comment] do |f| %>
<p>
  <%= f.label :author_name %><br>
  <%= f.text_field :author_name %>
</p>
<p>
  <%= f.label :author_email %><br>
  <%= f.text_field :author_email %>
</p>
<p>
  <%= f.label :body %><br>
  <%= f.text_field :body %>
</p>
<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>