<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>

  <li>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
    <span>Be memorable!</span>
  </li>

  <li>
    <%= f.label :body %><br>
    <%= f.text_area :body%><br>
    <span>Be legendary!</span>
  </li>

  <li>
    <%= f.label :tag_list %><br>
    <%= f.text_field :tag_list %><br>
    <span>Main topics over here.</span>
  </li>

  <li>
    <%= f.submit %>
  </li>
  </ul>
<% end %>