<div class="top-embody"><h1>Login</h1></div>

<div class="session">
<%= form_tag author_sessions_path, method: :post do %>
  <ul>
  <li>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
    <br>
  </li>
  <li>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
    <br>
  </li>
  <li>
    <%= submit_tag "Login" %>
  </li>
<% end %>
</ul>
</div>

<div class="backopt">
<%= link_to 'Back', articles_path %>
</div>