<!DOCTYPE html>
<html>
  <head>
    <title>Blog Me Out~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'reset-form', 'forms', 'colors', 'fonts', 'top-navbar', 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">

  </head>

  <body>
  <div class="top-navbar">
    <h1 class="title">Blog Me Out~</h1>
    <div class="flash"><p><%= flash.notice %></p></div>
    <div class="login">
      <% if logged_in? %>
        <%= "Logged in as #{current_user.username}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        <%= link_to "(login)", login_path %>
      <% end %>
    </div>
    <div class="navtags"><%= link_to "Tags", tags_path %></div>
    <div class="main"><%= link_to "Articles", articles_path %></div>
  </div>
  
  <div class="embody">
    <%= yield %>
  </div>

  <div class="footer">
    <p>Made by <a href="https://twitter.com/miss_sizigia">Faustina</a> with 💖 and <a href="https://en.wikipedia.org/wiki/Mate_(drink)">mate</a>.</p>
  </div>
  </body>
</html>
