<!DOCTYPE html>
<html>
  <head>
    <title>Whops, Another Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anonymous+Pro|Ubuntu&display=swap" rel="stylesheet">

  </head>

  <body>
  <div class="top-navbar">
    <h1 class="title">Whops,<br>Another<br>Blog</h1>
    <div class="login">
      <% if logged_in? %>
        <%= "Logged in as #{current_user.username}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        <%= link_to "(login)", login_path %>
      <% end %>
    </div>
    <div class="tags"><%= link_to "Tags", tags_path %></div>
    <div class="main"><%= link_to "Articles", articles_path %></div>
  </div>
  <div class="flash"><p><%= flash.notice %></p></div>
  <div class="embody"><%= yield %></div>
  </body>
</html>
